.root {
   prompt-colour: #a04000;
   heading-colour: white;
   -fx-background-color: #383838;
}

.label {
   -fx-text-fill: white;
   -fx-font-size: 21pt;
   -fx-padding: 10 10 10 10;
   -fx-background-color: #262626;
   -fx-border-color: white;
}

.button {
   -fx-background-color: #262626;
   -fx-text-fill: white;
   -fx-font-size: 21pt;
   -fx-border-color: white;
   -fx-border-radius: 5%;
   -fx-background-radius: 15%;
}

.button:hover {
   -fx-background-color: white;
   -fx-text-fill: black;
   -fx-border-color: #262626;
}

.list-cell {
   -fx-background-color: #262626;
}

.list-cell:filled:selected:focused {
   -fx-background-color: white;
}
